<h1>Employee Details</h1>
<form [formGroup]="form">
  <div style="display: flex">
    <p>First Name</p>
    <input name="firstName" type="text" formControlName="firstName" required />
  </div>
  <p *ngIf="firstName?.touched && firstName?.invalid">Field is mandatory</p>
  <div style="display: flex">
    <p>Last Name</p>
    <input name="lastName" type="text" formControlName="lastName" required />
  </div>
  <p *ngIf="lastName?.touched && lastName?.invalid">Field is mandatory</p>
  <div style="display: flex">
    <p>Age</p>
    <input name="age" type="number" formControlName="age" required />
  </div>
  <p *ngIf="age?.touched && age?.invalid">Field is mandatory</p>
  <div style="display: flex">
    <p>Address</p>
    <input name="address" type="text" formControlName="address" required />
  </div>
  <p *ngIf="address?.touched && address?.invalid">Field is mandatory</p>
  <div style="display: flex">
    <p>Gender</p>
    <div style="display: flex">
      <input
        name="gender"
        type="radio"
        formControlName="gender"
        value="male"
        required
      />
      <p>male</p>
    </div>
    <div style="display: flex">
      <input
        name="gender"
        type="radio"
        formControlName="gender"
        value="female"
        required
      />
      <p>female</p>
    </div>
  </div>
  <p *ngIf="gender?.touched && gender?.invalid">Field is mandatory</p>
  <div style="display: flex">
    <p>Phone</p>
    <input name="phone" type="text" formControlName="phone" required />
  </div>
  <p *ngIf="phone?.touched && phone?.invalid">Field is mandatory</p>
  <p>{{ errorMessage }}</p>
  <div style="display: flex">
    <input type="submit" value="SignUp" (click)="onSubmit()" /><input
      type="button"
      value="Reset"
      (click)="onReset()"
    />
  </div>
</form>
