<!-- app.component.html -->
<p>InterPolation</p>
<div>
  <h1>{{ title }}</h1>
  <p>Name: {{ user.name }}</p>
  <p>Age: {{ user.age }}</p>
  <p>Greeting: {{ getGreeting() }}</p>
  <p>Sum: {{ user.age + 5 }}</p>
</div>
<p>Sum: {{ a + b }}</p>
{{ htmlString }}

<p>Event_binding</p>
<app-event-binding></app-event-binding>
<p>property_binding</p>
<app-property-binding></app-property-binding>
<p>two_way_binding</p>
<app-two-way-binding></app-two-way-binding>
<p>Template reference variable</p>
<app-template-reference-variables></app-template-reference-variables>
<p>Parent Component</p>
<app-parent-component></app-parent-component>
<p>Child Component</p>
<app-child-component></app-child-component>
