<!-- <div *ngFor="let item of data">
  <p>{{ formatItem(item) }}</p>
</div>
<div *ngFor="let item of posts">
  <p>{{ formatItem(item) }}</p>
</div>
{{ errorMessage }} -->

<div>
  <h1>Posts</h1>
  <button (click)="createPost()">Create Post</button>
  <ul>
    <li *ngFor="let post of posts">
      {{ post.title }}
      <button (click)="getPost(post.id)">Get</button>
      <button (click)="updatePost(post.id)">Update</button>
      <button (click)="patchPost(post.id)">Patch</button>
      <button (click)="deletePost(post.id)">Delete</button>
    </li>
  </ul>

  <div *ngIf="post.id">
    <h2>Post Details</h2>
    <p>ID: {{ post.id }}</p>
    <p>Title: {{ post.title }}</p>
    <p>Body: {{ post.body }}</p>
  </div>
</div>
